<mat-toolbar>NgxMatErrors</mat-toolbar>
<div class="container">
  <fieldset>
    <legend>Outer NgxMatErrors control</legend>
    <mat-radio-group [formControl]="outerErrorControl">
      <mat-radio-button>None</mat-radio-button>
      <mat-radio-button value="1">Input 1</mat-radio-button>
      <mat-radio-button value="2">Input 2</mat-radio-button>
    </mat-radio-group>
  </fieldset>

  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> Reactive forms </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        A MatFormField with automatic error message and customized pattern
        message.
      </p>
      <p>Error message outside of a <code>mat-form-field</code>.
        <mat-error [ngx-mat-errors]="getControl(control1, control2)">
          <span *ngxMatErrorDef="let error; for: 'pattern'">
            Only digits are allowed, up to 2 digits. Error: {{ error | json }}
          </span>
        </mat-error>
      </p>
      <mat-form-field appearance="outline">
        <mat-label>Input 1</mat-label>
        <input type="text" matInput [formControl]="control1" autocomplete="off" />
        <mat-error ngx-mat-errors>
          <span *ngxMatErrorDef="let error; for: 'pattern'">
            Only digits are allowed, up to 2 digits. Error: {{ error | json }}
          </span>
        </mat-error>
        <mat-hint>Only digits are allowed, up to 2 digits.</mat-hint>
      </mat-form-field>
      <p>Custom min and max error messages</p>
      <mat-form-field appearance="outline">
        <mat-label>Input 2</mat-label>
        <input type="number" matInput [formControl]="control2" autocomplete="off" />
        <mat-error ngx-mat-errors>
          <ng-container *ngxMatErrorDef="let error; for: 'max'">
            Maximum value is {{ error.max }}. Error: {{ error | json }}
          </ng-container>
        </mat-error>
        <mat-hint>Min value is 10, max is 20</mat-hint>
      </mat-form-field>
      <p>Async minLength validator</p>
      <mat-form-field appearance="outline">
        <mat-label>Input 3</mat-label>
        <input type="text" matInput [formControl]="control3" autocomplete="off" />
        <mat-error ngx-mat-errors></mat-error>
        <mat-hint>Minimum length is 3</mat-hint>
      </mat-form-field>
      <p>Multiple inputs</p>
      <mat-form-field appearance="outline" [formGroup]="dateRange">
        <mat-label>Date range picker</mat-label>
        <mat-date-range-input [rangePicker]="dateRangePicker1" [min]="minDate">
          <input matStartDate formControlName="start" placeholder="Start date" />
          <input matEndDate [formControl]="$any(dateRange.get('end'))" placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="dateRangePicker1"></mat-datepicker-toggle>
        <mat-date-range-picker #dateRangePicker1></mat-date-range-picker>
        <mat-error ngx-mat-errors forDateRangePicker>
          <span *ngxMatErrorDef="let error; for: 'required'; withControl: dateRange.get('start')">Start date is
            required.</span>
          <span *ngxMatErrorDef="let error; for: 'required'; withControl: 'end'">End date is required.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Timepicker</mat-label>
        <input matInput [matTimepicker]="timepicker1" matTimepickerMin="8:30" matTimepickerMax="18:00" [formControl]="time" />
        <mat-timepicker-toggle matIconSuffix [for]="timepicker1"></mat-timepicker-toggle>
        <mat-timepicker #timepicker1></mat-timepicker>
        <mat-error ngx-mat-errors> </mat-error>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Template driven forms</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Error message outside of a <code>mat-form-field</code>.</p>
      <mat-error [ngx-mat-errors]="getControl(input3, input4)">
        <span *ngxMatErrorDef="let error; for: 'pattern'">
          Only digits are allowed, up to 2 digits. Error: {{ error | json }}
        </span>
      </mat-error>
      <p>
        A MatFormField with automatic error message and customized pattern
        message.
      </p>
      <mat-form-field appearance="outline">
        <mat-label>Input 1</mat-label>
        <input type="text" matInput #input3="ngModel" [(ngModel)]="value1" required pattern="[0-9]{0,2}"
          autocomplete="off" />
        <mat-error ngx-mat-errors>
          <span *ngxMatErrorDef="let error; for: 'pattern'">
            Only digits are allowed, up to 2 digits. Error: {{ error | json }}
          </span>
        </mat-error>
        <mat-hint>Only digits are allowed, up to 2 digits.</mat-hint>
      </mat-form-field>
      <p>Custom min and max error messages</p>
      <mat-form-field appearance="outline">
        <mat-label>Input 2</mat-label>
        <input type="number" matInput #input4="ngModel" min="10" max="20" [(ngModel)]="value2" autocomplete="off" />
        <mat-error ngx-mat-errors>
          <ng-container *ngxMatErrorDef="let error; for: 'max'">
            Maximum value is {{ error.max }}. Error: {{ error | json }}
          </ng-container>
        </mat-error>
        <mat-hint>Min value is 10, max is 20</mat-hint>
      </mat-form-field>
      <p>Async minLength validator</p>
      <mat-form-field appearance="outline">
        <mat-label>Input 3</mat-label>
        <input type="text" matInput [(ngModel)]="value3" [appAsyncMinLengthValidator]="3" autocomplete="off" />
        <mat-error ngx-mat-errors></mat-error>
        <mat-hint>Minimum length is 3</mat-hint>
      </mat-form-field>
      <p>Multiple controls</p>
      <mat-form-field appearance="outline">
        <mat-label>Date range picker</mat-label>
        <mat-date-range-input [rangePicker]="dateRangePicker2" [min]="minDate" required>
          <input matStartDate #startDateModel="ngModel" [(ngModel)]="value4" required placeholder="Start date" />
          <input matEndDate #endDateModel="ngModel" [(ngModel)]="value5" required placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="dateRangePicker2"></mat-datepicker-toggle>
        <mat-date-range-picker #dateRangePicker2></mat-date-range-picker>
        <mat-error [ngx-mat-errors]="[startDateModel, endDateModel]">
          <span *ngxMatErrorDef="let error; for: 'required'; withControl: endDateModel">End date is required.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Timepicker</mat-label>
        <input matInput [matTimepicker]="timepicker2" matTimepickerMin="8:30" matTimepickerMax="18:00" [(ngModel)]="value6" />
        <mat-timepicker-toggle matIconSuffix [for]="timepicker2"></mat-timepicker-toggle>
        <mat-timepicker #timepicker2></mat-timepicker>
        <mat-error ngx-mat-errors> </mat-error>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

</div>
