p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.mat-mdc-card {
  margin: 0.5rem;
}

.mat-mdc-form-field {
  width: 100%;
}
